{
  "printWidth": 120,
  "useTabs": false,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "semicolons": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".eslintrc", ".yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "proseWrap": "always"
}
